.auth-screens {
    .p-tabview-nav {
        background: none !important;
        border: none !important
    }
    .p-tabview-panels {
        background: none !important;
        padding: 0 !important;
    }
}
